<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Clientes</ion-title>
        <button ion-button clear icon-only (click)="CadastrarCliente()"><ion-icon name="add" ></ion-icon></button>

    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="nomeFilter" (keyup)="debounce.next($event.target.value)"></ion-searchbar>

    <!-- <ion-item>
        <ion-label floating>Buscar por Nome</ion-label>
        <ion-input type="text" [(ngModel)]="nomeFilter" name="nome" (keyup)="debounce.next($event.target.value)" uppercase></ion-input>
    </ion-item> -->
    <ion-item>
        <ion-label>Exibir Inativo</ion-label>
        <ion-checkbox [(ngModel)]="exibirInativo" color="blue" checked="true" (change)="filtrarInativo()"></ion-checkbox>
    </ion-item>
    <ion-list *ngFor="let cliente of clientes | filter: searchNome | orderBy : 'nome' : 0 : 1" (click)="EditarCliente(cliente)">
        <button ion-item *ngIf="cliente.ativo || exibirInativo ">
    {{ cliente.nome | uppercase}}
  </button>
    </ion-list>
</ion-content>