<ion-header>

    <ion-navbar>
        <ion-title>Produtos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    
    <ion-searchbar [(ngModel)]="produtoFilter" placeholder="Buscar" (keyup)="debounce.next($event.target.value)"></ion-searchbar>
<div class="scroll">
    <!-- <ion-card *ngFor="let produto of produtos | filter: searchProduto | orderBy : 'nome' : 0 : 1"> -->
    <ion-card *ngFor="let produto of produtos">
        <ion-card-header>
            {{produto.descricaoCompleta}}
        </ion-card-header>
        <ion-card-content>
            <ion-col>
                <ion-item>

                    <p>
                        <ion-icon name="card"></ion-icon> {{produto.precoVenda | currency:'BRL'}}</p>
                </ion-item>
                <ion-item>

                    <p>
                        <ion-icon name="cash" class="green"></ion-icon> {{produto.pesoL | currency:'BRL'}}</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>

                    <p>
                        <ion-icon name="cube"></ion-icon>Estoque: {{produto.quantEstoque}}</p>
                </ion-item>
                <ion-item>

                    <p>
                        <ion-icon name="cube" class="yellow"></ion-icon>Reservado: {{produto.quantReserva}}</p>
                </ion-item>
            </ion-col>
        </ion-card-content>
        <ion-row class="detalhes" [ngClass]="{'active': produto.open}">
            <ion-item>
                <p>TAMANHO: {{produto.tamanho}}</p>
            </ion-item>
            <ion-item>
                <p>QUANT. PEÇAS NA CAIXA: {{produto.pecaCaixa}}</p>
            </ion-item>
            <ion-item>
                <p>M² NA CAIXA: {{produto.m2Caixa}}</p>
            </ion-item>
        </ion-row>
        <ion-row (click)="exibirDetalhes(produto)">
            <ion-col class="btn-detalhes" center>
                <ion-icon name="add"></ion-icon>
            </ion-col>
        </ion-row>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>
</ion-content>